<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!--CSS personalizado sempre após o CSS do bootstrap-->
    <link rel="stylesheet" href="../public/css/style.css">

</head>
<body id="sobre">
    <h2>Sticky Notes</h2>
    <h2>Notas Adesivas Interativas</h2>
    <h4>Gabriel Coutinho</h4>
    <h4>Sobe a licença MIT</h4>
    <p>Versão 1.0 </p>

    <script src="../public/js/bootstrap.min.js"></script>
</body>
</html>