<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Impedir a execução de scripts exeternos-->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
    <title>Sobre</title>
    <!--link rel="stylesheet" href="../public/css/bootstrap.min.css"-->
    <link rel="stylesheet" href="../public/css/style.css">

</head>

<body>
    <div class="container">
        <section id="sobre">
            <h2>Sticky Notes</h2>
            <h3 class="text-secondary">Notas Adesivas Interativas</h3>
            <p>Gabriel Coutinho</p>
            <p class="text-muted">Sob a licença MIT</p>
            <p>Versão 1.0</p>
            <button type="button" onclick="fechar()"> OK</button>
        </section>
    </div>

    <!--script src="../public/js/bootstrap.min.js"></script-->

    <!--Renderizador da tela sobre-->
    <script src="rendererSobre.js"></script>
</body>

</html>